<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.alert21.atopcal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATOPCAL">
        <activity android:name=".GPS.GPSActivity"></activity>
        <activity android:name=".RADIAR.RadiarActivity" />
        <activity android:name=".POLIG.PoligActivity" />
        <activity android:name=".PTS.ViewEstacionesActivity" />
        <activity android:name=".DESORIENTACION.DesorientacionesActivity" />
        <activity android:name=".OBS.BesselActivity" />
        <activity android:name=".IMPORT.FundirVueltaDeHorizonteActivity" />
        <activity android:name=".IMPORT.ImportObsActivity" />
        <activity android:name=".PTS.ViewPtsActivity" />
        <activity android:name=".FILES.FileChooser" />
        <activity android:name=".FILES.FileExplorer" />
        <activity android:name=".OBS.ViewNeActivity" />
        <activity android:name=".OBS.ViewObsActivity" />
        <activity android:name=".PRJ.ViewPrjActivity" />
        <activity android:name=".PTS.EditarPtsActivity" />
        <activity android:name=".OBS.EditarObsActivity" />
        <activity android:name=".PRJ.PrjActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>